<section class="py-24 bg-white">

<div class="max-w-7xl mx-auto px-6 lg:px-20">

<div class="text-center mb-16">

<span class="text-sm tracking-[4px] text-[#C9A24D] font-semibold uppercase">
Top Attractions
</span>

<h2 class="text-3xl lg:text-4xl font-bold text-gray-900 mt-3">
Places to Visit in Marsa Alam
</h2>

<p class="text-gray-600 mt-4 max-w-2xl mx-auto">
Discover the most famous attractions and landmarks that make Marsa Alam one of the most visited destinations in Egypt.
</p>

</div>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">


<div class="rounded-2xl overflow-hidden shadow-lg">
<img src="/images/sataya.webp" loading="lazy" alt="Sataya Reef" class="w-full h-[220px] object-cover"/>
<div class="p-6">
<h3 class="text-lg font-semibold text-gray-900">Sataya Reef</h3>
<p class="text-gray-600 mt-2 text-sm">
Famous dolphin reef where visitors can swim with dolphins.
</p>
</div>
</div>

<div class="rounded-2xl overflow-hidden shadow-lg">
<img src="/images/abu-dabbab.webp" alt="Abu Dabbab Beach" class="w-full h-[220px] object-cover"/>
<div class="p-6">
<h3 class="text-lg font-semibold text-gray-900">Abu Dabbab Beach</h3>
<p class="text-gray-600 mt-2 text-sm">
Popular beach known for sea turtles and snorkeling.
</p>
</div>
</div>

<div class="rounded-2xl overflow-hidden shadow-lg">
<img src="/images/Wadi-ElGemal.webp" loading="lazy" alt="Wadi El Gemal National Park" class="w-full h-[220px] object-cover"/>
<div class="p-6">
<h3 class="text-lg font-semibold text-gray-900">Wadi El Gemal National Park</h3>
<p class="text-gray-600 mt-2 text-sm">
Protected natural park with desert and marine life.
</p>
</div>
</div>

<div class="rounded-2xl overflow-hidden shadow-lg">
<img src="/images/Hamata-isalands.webp" loading="lazy" alt="Hamata Islands" class="w-full h-[220px] object-cover"/>
<div class="p-6">
<h3 class="text-lg font-semibold text-gray-900">Hamata Islands</h3>
<p class="text-gray-600 mt-2 text-sm">
Remote islands with pristine coral reefs.
</p>
</div>
</div>

<div class="rounded-2xl overflow-hidden shadow-lg">
<img src="/images/port-ghalib.webp" loading="lazy" alt="Port Ghalib Marina" class="w-full h-[220px] object-cover"/>
<div class="p-6">
<h3 class="text-lg font-semibold text-gray-900">Port Ghalib Marina</h3>
<p class="text-gray-600 mt-2 text-sm">
Luxury marina with shops, restaurants, and yachts.
</p>
</div>
</div>

<div class="rounded-2xl overflow-hidden shadow-lg">
<img src="/images/El-Qulan.webp" loading="lazy" alt="El Qulan Mangrove Beach" class="w-full h-[220px] object-cover"/>
<div class="p-6">
<h3 class="text-lg font-semibold text-gray-900">El Qulan Mangrove Beach</h3>
<p class="text-gray-600 mt-2 text-sm">
Quiet beach surrounded by mangrove trees.
</p>
</div>
</div>


</div>

</div>

</section>
